<h2>MentorMaching網站會員申請條款</h2>







<button onclick="self.location.href='register'">已詳細閱讀並且同意成為mentor</button>
<button onclick="self.location.href='newmentee'">已詳細閱讀並且同意成為mentee</button>
<button onclick="self.location.href=''">不同意</button>
