<h2>MentorMaching網站會員申請條款</h2>







<button onclick="self.location.href='http://localhost:3000/register'">已詳細閱讀並且同意</button>
<button onclick="self.location.href='http://localhost:3000/'">不同意</button>
